.header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

h1 a {
    color: #3EB489;
}

h2 a{
    color: plum;
}

body {
    padding-left: 15px;
}